<menu>
	<subMenu name="File" label="文件">
		<item name="New" label="新建项目" keyEquivalent="N" />
		<item isSeparator="true" />
		<item name="Load Project" label="打开项目" keyEquivalent="o" />
		<item name="Save Project" label="保存项目" keyEquivalent="s" />
		<item name="Save Project As" label="另存项目" keyEquivalent="S" />
		<item isSeparator="true" />
		<item name="Log In" label="login" />
		<item name="Log Out" label="logout" />
	</subMenu>
	<subMenu name="Edit" label="编辑">
		<item name="Undelete" label="撤销删除" />
		<item isSeparator="true" />
		<item name="Hide stage layout" label="隐藏舞台" keyEquivalent="" />
		<item name="Small stage layout" label="小舞台布局模式" keyEquivalent="" />
		<item name="Code mode" label="Arduino模式" keyEquivalent="" />
	</subMenu>
	<subMenu name="Connect" label="连接">
		<subMenu name="USB Port" label="串口"></subMenu>
	</subMenu>
	<!-- <subMenu name="Boards" label="控制板"> -->
	<!-- <item name="node-mcu" label="node-mcu" /> -->
	<!-- </subMenu> -->
	<subMenu name="Extensions" label="扩展">
		<item name="Manage Extensions" label="管理扩展" keyEquivalent="T" />
		<item name="Restore Extensions" label="检查最新扩展" />
		<item name="Clear Cache" label="清空缓存" />
		<item isSeparator="true" />
	</subMenu>
	<subMenu name="Language" label="语言">
		<item isSeparator="true" />
		<subMenu name="set font size" label="设置字体大小">
			<item name="setFontSize" label="8" />
			<item name="setFontSize" label="9" />
			<item name="setFontSize" label="10" />
			<item name="setFontSize" label="11" />
			<item name="setFontSize" label="12" />
			<item name="setFontSize" label="13" />
			<item name="setFontSize" label="14" />
			<item name="setFontSize" label="15" />
			<item name="setFontSize" label="16" />
			<item name="setFontSize" label="17" />
			<item name="setFontSize" label="18" />
			<item name="setFontSize" label="19" />
			<item name="setFontSize" label="20" />
			<item name="setFontSize" label="21" />
			<item name="setFontSize" label="22" />
			<item name="setFontSize" label="23" />
			<item name="setFontSize" label="24" />
		</subMenu>
	</subMenu>
</menu>